{% import 'macros/nav_macros.html' as nav %}

<!DOCTYPE html>
<html>
    <head>
        {% include 'partials/_head.html' %}
        {# Any templates that extend this template can set custom_head_tags to add scripts to their page #}
        {% block custom_head_tags %}{% endblock %}
    </head>
    <body>
      {# Example dropdown menu setup. Uncomment lines to view
        {% set dropdown = 
          [
            ('account stuff',
              [
                ('account.login', 'login', 'sign in'),
                ('account.logout', 'logout', 'sign out'),
                ('2nd drop', [
                  ('account.login', 'login 2', ''),
                  ('3rd drop', [
                    ('main.index', 'home 2', '')
                  ])
                ])
              ]
            ),
            ('main.index', 'home 1', 'home')
          ]
        %}
      #}

        {% block nav %}
          {# add dropdown variable here to the render_nav method to render dropdowns #}
          {{ nav.render_nav(current_user) }}
        {% endblock %}

        {% include 'partials/_flashes.html' %}
        {# When extended, the content block contains all the html of the webpage #}
        {% block content %}
        {% endblock %}

        {# Implement CSRF protection for site #}
        {% if csrf_token()|safe %}
            <div style="visibility: hidden; display: none">
              <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
            </div>
        {% endif %}
    </body>
    <script>
        $(document).ready(function() {
            var idx = 0; 
            var fileArr = [];
            $('#files').on('change', function() {
              var filetype = JSON.stringify($('#files')[0].files[0])
              fileArr.push($('#files')[0].files[0]);
              $('#fileUpload').append('<p>' + $('#files')[0].files[0].name + 
                ' <a id="startUpload" data-idx="' + idx +'">Start Uploading</a></p>')
              idx++; 
            })
            $('body').on('click', '#startUpload', function() {
              var file = fileArr[$(this).data('idx')]
              getSignedRequest(file);
            })

            function getSignedRequest(file) {
              var xhr = new XMLHttpRequest();
              xhr.open("GET", "/admin/upload/asset?file_name="+file.name+"&file_type="+file.type);
              xhr.onreadystatechange = function(){
                if(xhr.readyState === 4){
                  if(xhr.status === 200){
                    var response = JSON.parse(xhr.responseText);
                    uploadFile(file, response.data, response.url);
                  }
                  else{
                    alert("Could not get signed URL.");
                  }
                }};
              xhr.send();
              
            }

            function uploadFile(file, s3Data, url){
              var xhr = new XMLHttpRequest();
              xhr.open("POST", s3Data.url);

              var postData = new FormData();
              for(key in s3Data.fields){
                postData.append(key, s3Data.fields[key]);
              }
              postData.append('file', file);

              xhr.onreadystatechange = function() {
                if(xhr.readyState === 4){
                  if(xhr.status === 200 || xhr.status === 204){
                    console.log(url);
                  }
                  else{
                    alert("Could not upload file.");
                  }
                }
              };
              xhr.send(postData);
            }
        })  

    </script>
</html>
