@media -sass-debug-info{filename{}line{font-family:\000037}}
* {
  font-family: 'Open Sans', sans-serif;
}

@media -sass-debug-info{filename{}line{font-family:\0000311}}
h1, h2 {
  font-family: 'Open Sans', sans-serif !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000315}}
body {
  font-family: 'Open Sans', sans-serif !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000319}}
nav {
  margin-bottom: 150px !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000323}}
img.logo {
  display: block;
  width: 75%;
  margin: 0 auto;
  padding: 20px 0 20px 0;
}

@media -sass-debug-info{filename{}line{font-family:\0000331}}
.main.menu {
  background-color: #01256e !important;
  height: 100px;
}

@media -sass-debug-info{filename{}line{font-family:\0000336}}
.ui.fixed.main.menu .right.menu > .item:last-of-type {
  border-right: 1px solid rgba(34, 36, 38, 0.0980392);
}

@media -sass-debug-info{filename{}line{font-family:\0000342}}
nav .mobile.only.row .ui.vertical.menu {
  margin-top: 100px;
  display: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000349}}
.flashes > .ui.message:last-of-type {
  margin-bottom: 2rem;
}

@media -sass-debug-info{filename{}line{font-family:\0000354}}
table.selectable tr:hover {
  cursor: pointer !important;
}

@media -sass-debug-info{filename{}line{font-family:\0000358}}
#file {
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 10px;
  border-radius: 5px;
}
