{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

 {% set deletion_endpoint = 'admin.delete_nutrition_request' %}

{% set endpoints = [
    ('admin.nutrition_info', 'nutrition information'),
    ('admin.change_nutrition_info', 'Change Details'),
    (deletion_endpoint, 'Delete nutrition')
] %}


{% macro navigation(items) %}
    <div class="ui vertical fluid secondary menu">
        {% for route, name in items %}
            {% set href = url_for(route, nutrition_id=nutrition.id) %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ name }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% macro nutrition_info(nutrition) %}
    <table class="ui compact definition table">
        <tr><td>nutrition Name</td><td>{{ nutrition.name }}</td></tr>
        <tr><td>Description</td><td>{{ nutrition.description }}</td></tr>
    </table>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <a class="ui basic compact a" href="{{ url_for('admin.nutritions') }}">
                <i class="caret left icon"></i>
                Back to all nutritions
            </a>
            <h2 class="ui header">
                {{ nutrition.name }}
                <div class="sub header">View and manage {{ nutrition.name }}</div>
            </h2>
        </div>
        <div class="stretched divided very relaxed row">
            <div class="four wide column">
                {{ navigation(endpoints) }}
            </div>
            <div class="eight wide column">
                {% if request.endpoint == deletion_endpoint %}
                    <h3 class="ui red block header">
                        <i class="warning circle icon"></i>
                        <div class="content">
                            This action is permanent
                            <div class="sub header">
                                Deleting an nutrition is not a reversible change. Any information associated
                                with this record will be removed, and cannot be recovered.
                            </div>
                        </div>
                    </h3>

                    <div class="ui form">
                        <div class="inline field">
                            <div class="ui deletion checkbox">
                                <input type="checkbox" tabindex="0" class="hidden">
                                <label>I understand that this action cannot be undone.</label>
                            </div>
                        </div>
                        <a class="ui disabled negative deletion a">
                            Delete this nutrition
                        </a>
                    </div>
                    </div>
                {% elif form %}
                    {{ f.render_form(form) }}
                {% else %}
                    {{ nutrition_info(nutrition) }}
                {% endif %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('.deletion.checkbox').checkbox({
            onChecked: function() {
                $('.deletion.a').removeClass('disabled')
                        .attr('href', '{{ url_for('admin.delete_nutrition', nutrition_id=nutrition.id) }}');
            },
            onUnchecked: function() {
                $('.deletion.a').addClass('disabled').removeAttr('href');
            }
        });
    </script>
    <script>
        $(document).ready(function() {
            var urls = $('#url_list').val().split(',');
            for(var i = 0; i < urls.length; i++) {
              if(urls[i].length > 0) {
                $('#fileUpload').parent().after('<p><a>' + urls[i].split(';')[0] + '</a><br><button class="ui button" id="delete">Remove</button></p>');
              }
            }

            function custIdxOf(arr, str) {
              var idx = -1;
              for(var i = 0; i < arr.length; i++) {
                if (idx === -1 && arr[i].indexOf(str) > -1) {
                  idx = i
                }
              }
              return idx
            }
            $(document).on('click', '#delete', function(e) {
              var url = $($(this).parent().children()[0]).text()
              console.log(url);
              var arr = $('#url_list').val().split(',')
              var idx = custIdxOf(arr, url)
              console.log(idx);
              if (idx > -1) {
                arr.splice(idx, 1)
              }
              console.log(arr);
              $('#url_list').val(arr.join(','));
              $(this).parent().remove()
            })
            var idx = 0; 
            var fileArr = [];
            $('#files').on('change', function() {
              var file = $("#files")[0].files[0]
              if(!file){
                return alert("No file selected.");
              }
              fileArr.push(file);
              $('#fileUpload').append('<div id="file"><p>' + file.name + 
                '</p><a id="startUpload" data-idx="' + (fileArr.length - 1) + 
                '">Upload File</a><br><br><div data-idx="' + (fileArr.length -1) + '" class="ui indicating progress">'
                + '<div class="bar"></div></div> ' + 
                ' <div data-idx="' + (fileArr.length -1) + '" id="url></div></div>');
            })
            $('body').on('click', '#startUpload', function() {
              var idx = $(this).data('idx')
              var file = fileArr[$(this).data('idx')]

              getSignedRequest(file, idx);
            })

            
    function uploadFile(file, s3Data, url, urlUpload, idx){
      // basic validation
      var fileType = url.substring(url.lastIndexOf('.') + 1);
      
      var xhr = new XMLHttpRequest();
      xhr.upload.addEventListener("progress", updateProgress);
      xhr.open('POST', urlUpload);
      xhr.setRequestHeader('x-amz-acl', 'public-read');

      var postData = new FormData();
      for(key in s3Data.fields){
        postData.append(key, s3Data.fields[key]);
      }
      postData.append('file', file);
      console.log(file);
      function updateProgress (e) {
        if (e.lengthComputable) {
          var percentComplete = ((100*e.loaded)/e.total).toFixed(2);
          var percentCompleteShort = ((100*e.loaded)/e.total).toFixed(0);
          $('div[data-idx="' + idx + '"]').progress({
            percent: percentComplete
          });
        }
      }
      xhr.onreadystatechange = function()  {
        if(xhr.readyState === 4){
          if(xhr.status === 200 || xhr.status === 204) {
            $('div[data-idx="' + idx + '"]').after('<p>URL: <a href="' + url + '">' + url + '</a>')
            handleFunc(url);
          }
          else{
            console.log("\n\n\nstatus: ", xhr.status);
            alert('Could not upload file.');
          }
        }
      };
      xhr.send(postData);
    }

    function handleFunc(url) {
      var curr = $('#url_list').val()
      $('#url_list').val(curr + ',' + url + ';');
    };

    /*
      Function to get the temporary signed request from the Python app.
      If request successful, continue to upload the file using this signed
      request.
    */
    function getSignedRequest(file, idx){
      var xhr = new XMLHttpRequest();
      xhr.open('GET', `/account/sign-s3?file-name=${file.name}&file-type=${file.type}`);
      xhr.onreadystatechange = function() {
        if(xhr.readyState === 4){
          if(xhr.status === 200){
            var response = JSON.parse(xhr.responseText);
            console.log("response form json dumps: ", response);
            uploadFile(file, response.data, response.url, response.url_upload, idx);
          }
          else{
            alert('Could not get signed URL.');
          }
        }
      };
      xhr.send();
    }

    $('#url_list').hide();
    $('label[for="url_list"]').hide()

  });

    </script>
{% endblock %}
