{% extends 'layouts/base.html' %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Participant Dashboard
            </h2>

            <h3>Exercises</h3>
            <div class="ui one column stackable grid">
                 {{ dashboard_option('View Exercise Plan', 'participant.exercise_index',
                description='View exercise plan', icon='add icon') }}
            </div>
            <h3>Nutrition</h3>
            <div class="ui one column stackable grid">
                 {{ dashboard_option('View Nutrition Plan', 'participant.nutrition_index',
                description='View nutrition plan', icon='add icon') }}
            </div>
            <h3>Medication</h3>
            <div class="ui one column stackable grid">
                 {{ dashboard_option('View Medication Plan', 'participant.medication_index',
                description='View medication plan', icon='add icon') }}
            </div>
            <h3>Pain Survey</h3>
            <div class="ui one column stackable grid">
                 {{ dashboard_option('View Pain Survey', 'participant.pain_index',
                description='View pain survey', icon='add icon') }}
            </div>
        </div>
    </div>
{% endblock %}
